* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #f6f8fc;
}

.dark-mode{
    background-color: #2b292c; 
}

.dark-mode-content{
    width: 100vw !important;
    height: fit-content !important;
    padding: 1rem !important;
    background-color: #00023658 !important;
    color: #f6f8fc !important;
}

.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: #fff;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}

#info{
    z-index: 9999;
   
    
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    
    margin: auto;
}

.finally-info{
    display: flex;
    flex-direction: column;
    
    padding: 0;
    align-items: center;
    width: 320px;
    height: max-content;
    text-transform: capitalize;
    border-radius: 10px;
    box-shadow: 6px 9px 13px 0px rgba(0,0,0,0.79);
        -webkit-box-shadow: 6px 9px 13px 0px rgba(0,0,0,0.79);
        -moz-box-shadow: 6px 9px 13px 0px rgba(0,0,0,0.79);
    height: 500px;
    overflow-x: auto;    
}

.finally-info > .head-info > h1{
    font-size: 1.5rem;
    color: #ffffff;
    margin-top: 20px;
}

.detail-info{
    padding: 1rem;
    background-color: inherit;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    
}
.side-arrow{
    width: 55px;
    box-shadow: 7px 7px 26px -3px rgba(0,0,0,0.75);
    -webkit-box-shadow: 7px 7px 26px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 7px 26px -3px rgba(0,0,0,0.75);
}
.big-img{
    width: 250px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

.types {
    padding: 0;
    margin: 0;
    list-style: none;
}
.left-side > .types >.type {
    color: #fff;
    padding: .5rem .5rem;
    margin: .5rem 0;
    font-size: .8rem;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
    box-shadow: 10px 11px 26px 0px rgba(0,0,0,0.75);
        -webkit-box-shadow: 10px 11px 26px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 11px 26px 0px rgba(0,0,0,0.75);
}


.big-img > .pokemon-version{
    width: 200px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin-top: -40px;
}

.big-img >.pokemon-version >img{
    width: 100%;
}

.head-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0;
    color: #fff;
}

.head-info > img{
    width: 30px;
    margin-bottom: 5px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    cursor: pointer;
}

#shiny{
    display: none;
}

#toggle-shiny-normal{
    width: 70px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: none;
    cursor: pointer;
}

.lef-arrow{
    align-self: flex-start;
}

.weight-height{
    display: flex;
    width: 280px;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.1rem;
    text-transform: lowercase;
    color: #f6f8fc;
}

.information-about-pokemon{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 280px;
    height: max-content;
    background-color:#2b292c ;
    border-radius: 10px;
    margin-bottom: 10px;
    
}

.weight, .height{
    margin-top: 5px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}

.weight-height > .height > h1{
    margin: 0;
    padding: 0;
    font-size: 1.1rem;


}
.weight-height > .weight > h1{
    margin: 0;
    padding: 0;
    font-size: 1.1rem;


}

.weight-height > .weight > h6{
    margin: 0;
    padding: 0;
    font-size: 0.8rem;
}
.weight-height > .height > h6{
    margin: 0;
    padding: 0;
    font-size: 0.8rem;
}

.stats-names{
    color: #2b292c;
    font-size: 1rem;
}

.more{
     background-color: inherit;
     border: none;
     border-radius: 5px;
     color: #f6f8fc;
     cursor: pointer;
     box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
     -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
     -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75)
}

.base-stats{
    width: 250px;
    background-color: #d3d1d1;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 10px;
    
}
.base-stats > h3{
    color: #2b292c;
}


/* */

.checkbox {
   
    opacity: 0;
    position: absolute;
  }
  
  .checkbox-label {
    margin-top:5px;
    margin-left: 5px;
    background-color: #111;
    width: 60px;
    height: 36px;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;

    box-shadow: -6px 7px 11px -3px rgba(255,255,255,0.3);
        -webkit-box-shadow: -6px 7px 11px -3px rgba(255,255,255,0.3);
        -moz-box-shadow: -6px 7px 11px -3px rgba(255,255,255,0.3);
  }
  
  .fa-moon {
    color: #f1c40f;
    font-size: 1.5rem;
}
  
  .fa-sun {
    color: #f39c12;
    font-size: 1.5rem;
}
  
  .checkbox-label .ball {
    background-color: #fff;
    width: 32px;
    height: 32px;
    position: absolute;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
  }
  
  .checkbox:checked + .checkbox-label .ball {
    transform: translateX(24px);
  }

  